<div id="overlayContainer" style="display: none;">
    <div id="serverSelectContent" style="display: none;">
        <span id="serverSelectHeader" class="flow-text">Elérhető verziók</span>
        <div id="serverSelectList">
            <div id="serverSelectListScrollable">
                <!-- Server listings populated here. -->
            </div>
        </div>
        <div id="serverSelectActions">
            <button id="serverSelectConfirm"
                class="overlayKeybindEnter btn btn-large newhope-color waves-effect waves-light"
                type="submit">Kiválasztás</button>
            <div id="serverSelectCancelWrapper">
                <button id="serverSelectCancel" class="overlayKeybindEsc">Mégse</button>
            </div>
        </div>
    </div>
    <div id="accountSelectContent" style="display: none;">
        <div class="card hoverable">
            <div class="card-content">
                <div class="card-titlte center-align">
                    Felhasználó Kiválasztás
                </div>
            </div>
        </div>

        <span id="accountSelectHeader" class="flow-text">Felhasználó Kiválasztás</span>
        <div id="accountSelectList">
            <div id="accountSelectListScrollable">
                <!-- Accounts populated here. -->
            </div>
        </div>
        <div id="accountSelectActions">
            <button id="accountSelectConfirm"
                class="overlayKeybindEnter btn btn-large newhope-color waves-effect waves-light"
                type="submit">Kiválasztás</button>
            <div id="accountSelectCancelWrapper">
                <button id="accountSelectCancel" class="overlayKeybindEsc">Mégse</button>
            </div>
        </div>
    </div>
    <div id="overlayContent">
        <div class="card hoverable">
            <div class="card-content">
                <div class="card-title center-align">
                    <span id="overlayTitle">Lorem Ipsum:<br>Finis Illud</span>
                </div>
                <span id="overlayDesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud..</span>
            </div>
            <div class="card-action">
                <a id="overlayAcknowledge" class="overlayKeybindEnter">Conare Iterum</a>
                <div id="overlayDismissWrapper">
                    <a id="overlayDismiss" style="display: none;" class="overlayKeybindEsc">Dismiss</a>
                </div>
            </div>
        </div>
    </div>
    <script src="./assets/js/scripts/overlay.js"></script>
</div>