<div id="settingsContainer" style="display: none;">
    <div class="fixed-action-btn" id="settingsNavDone">
        <a class="btn-floating btn-large newhope-color waves-effect waves-light">
            <i class="large material-icons">done</i>
        </a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col hide-on-small-only m3">
                <div class="toc-wrapper pinned">
                    <div style="margin: 10px 16px;" class="white-text flow-text">
                        Beállítások
                    </div>
                    <div style="height: 1px;" class=>
                        <ul class="section table-of-contents">
                            <li>
                                <a href="#settingsTabAccount" rSc="settingsTabAccount"
                                    class="active settingsNavItem">Felhasználó</a>
                            </li>
                            <li>
                                <a href="#settingsTabMinecraft" rSc="settingsTabMinecraft"
                                    class="settingsNavItem">Minecraft</a>
                            </li>
                            <li>
                                <a href="#settingsTabJava" rSc="settingsTabJava" class="settingsNavItem">Java</a>
                            </li>
                            <li>
                                <a href="#settingsTabLauncher" rSc="settingsTabLauncher" class="settingsNavItem">Indító
                                    beállítások</a>
                            </li>
                            <li>
                                <a href="#settingsTabAbout" rSc="settingsTabAbout" class="settingsNavItem">Rólunk</a>
                            </li>
                            <li>
                                <a href="#settingsTabUpdate" rSc="settingsTabUpdate"
                                    class="settingsNavItem">Frissítések</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col s12 m9">
                <div id="settingsTabAccount" class="settingsTab">
                    <div class="row">
                        <div class="col s12">
                            <div class="card hoverable">
                                <div class="card-content">
                                    <div class="card-title">
                                        Felhasználói beállítások<br>
                                        Új felhasználók hozzáadása vagy jelenlegi módosítása.
                                    </div>
                                </div>

                                <div class="card-action">
                                    <a href="#" id="settingsAddAccount"><span id="settingsAddAccountText"
                                            class="newhope-color-text">Felhasználó hozzáadása</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="settingsCurrentAccounts">
                        <!-- Auth accounts populated here. -->
                    </div>
                </div>
                <div id="settingsTabMinecraft" class="settingsTab" style="display: none;">
                    <div class="row">
                        <div class="col s12">
                            <div class="card hoverable">
                                <div class="card-content">
                                    <div class="card-title">
                                        <span class="settingsTabHeaderText">Minecraft beállítások</span><br>
                                        <span class="settingsTabHeaderDesc">Játékon belüli beállítások.</span>
                                    </div>

                                    <div class="row valign-wrapper">
                                        <div class="col s4 truncate">
                                            <span class="settingsFieldTitle">Játék felbontása</span>
                                        </div>
                                        <div class="col s3">
                                            <input type="number" id="settingsGameWidth" min="0" cValue="GameWidth">
                                        </div>
                                        <div class="col s2">
                                            <center>
                                                <div id="settingsGameResolutionCross">&#10006;</div>
                                            </center>
                                        </div>
                                        <div class="col s3">
                                            <input type="number" id="settingsGameHeight" min="0" cValue="GameHeight">
                                        </div>
                                    </div>

                                    <div class="row valign-wrapper">
                                        <div class="col s9">
                                            <span class="settingsFieldTitle">Teljes képernyős indítás</span>
                                        </div>
                                        <div class="col s3 right">
                                            <div class="settingsFieldRight right">
                                                <label class="toggleSwitch">
                                                    <input type="checkbox" cValue="Fullscreen">
                                                    <span class="toggleSwitchSlider"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row valign-wrapper">
                                        <div class="col s9">
                                            <span class="settingsFieldTitle">Automatikus csatlakozás a szerverhez</span>
                                        </div>
                                        <div class="col s3 right">
                                            <div class="settingsFieldRight right">
                                                <label class="toggleSwitch">
                                                    <input type="checkbox" cValue="AutoConnect">
                                                    <span class="toggleSwitchSlider"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row valign-wrapper">
                                        <div class="col s9">
                                            <span class="settingsFieldTitle">Indító és játék külön indítása</span>
                                        </div>
                                        <div class="col s3 right">
                                            <div class="settingsFieldRight right">
                                                <label class="toggleSwitch">
                                                    <input type="checkbox" cValue="LaunchDetached">
                                                    <span class="toggleSwitchSlider"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="settingsTabMods" class="settingsTab" style="display: none;">
                    <div class="settingsTabHeader">
                        <span class="settingsTabHeaderText">Mod beállítások</span>
                        <span class="settingsTabHeaderDesc">Enable or disable mods.</span>
                    </div>
                    <div id="settingsSelServContainer">
                        <div id="settingsSelServContent">

                        </div>
                        <div id="settingsSwitchServerContainer">
                            <div id="settingsSwitchServerContent">
                                <button id="settingsSwitchServerButton">Switch</button>
                            </div>
                        </div>
                    </div>
                    <div id="settingsModsContainer">
                        <div id="settingsReqModsContainer">
                            <div class="settingsModsHeader">Required Mods</div>
                            <div id="settingsReqModsContent">

                            </div>
                        </div>
                        <div id="settingsOptModsContainer">
                            <div class="settingsModsHeader">Optional Mods</div>
                            <div id="settingsOptModsContent">

                            </div>
                        </div>
                        <div id="settingsDropinModsContainer">
                            <div class="settingsModsHeader">Drop-in Mods</div>
                            <button id="settingsDropinFileSystemButton">+ Add Mods <span
                                    id="settingsDropinRefreshNote">(F5
                                    to
                                    Refresh)</span></button>
                            <div id="settingsDropinModsContent">

                            </div>
                        </div>
                        <div id="settingsShadersContainer">
                            <div class="settingsModsHeader">Shaderpacks</div>
                            <div id="settingsShaderpackDesc">Enable or disable shaders. Please note, shaders will only
                                run
                                smoothly on powerful setups. You may add custom packs here.</div>
                            <div id="settingsShaderpackWrapper">
                                <button id="settingsShaderpackButton"> + </button>
                                <div class="settingsSelectContainer">
                                    <div class="settingsSelectSelected" id="settingsShadersSelected">Select Shaderpack
                                    </div>
                                    <div class="settingsSelectOptions" id="settingsShadersOptions" hidden>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="settingsTabJava" class="settingsTab" style="display: none;">
                    <div class="row">
                        <div class="col s12">
                            <div class="card hoverable">
                                <div class="card-content">
                                    <div class="card-title">
                                        <span class="settingsTabHeaderText">Java beállítások</span><br>
                                        <span class="settingsTabHeaderDesc">Java beállítások kezelése (haladó).</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col s12">
                            <div class="card hoverable">
                                <div class="card-content">
                                    <div class="card-title">
                                        Memória
                                    </div>
                                    <div class="row settingsMemoryContentItem">
                                        <div class="col s4 truncate">
                                            <span class="settingsMemoryHeader">Maximum RAM</span>
                                        </div>
                                        <div class="col s8">
                                            <div class="settingsMemoryActionContainer">
                                                <div class="col s9">
                                                    <div id="settingsMaxRAMRange" class="rangeSlider" cValue="MaxRAM"
                                                        min="3" max="8" value="3" step="0.5">
                                                        <div class="rangeSliderBar"></div>
                                                        <div class="rangeSliderTrack"></div>
                                                    </div>
                                                </div>
                                                <div class="col s3">
                                                    <span id="settingsMaxRAMLabel" class="settingsMemoryLabel">3G</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row settingsMemoryContentItem">
                                        <div class="col s4 truncate">
                                            <span class="settingsMemoryHeader">Minimum RAM</span>
                                        </div>
                                        <div class="col s8">
                                            <div class="settingsMemoryActionContainer">
                                                <div class="col s9">
                                                    <div id="settingsMinRAMRange" class="rangeSlider" cValue="MinRAM"
                                                        min="3" max="8" value="3" step="0.5">
                                                        <div class="rangeSliderBar"></div>
                                                        <div class="rangeSliderTrack"></div>
                                                    </div>
                                                </div>
                                                <div class="col s3">
                                                    <span id="settingsMinRAMLabel" class="settingsMemoryLabel">3G</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="s12">
                                            Az ajánlott minimális RAM 3 GB. Ha a minimumot és a maximumot ugyanarra a
                                            szintre állítod csökkentheted az akadozást.
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col s6">
                                            <span class="settingsMemoryStatusTitle">Összesen</span>
                                            <span id="settingsMemoryTotal" class="settingsMemoryStatusValue">16G</span>
                                        </div>
                                        <div class="col s6">
                                            <span class="settingsMemoryStatusTitle">Elérhető</span>
                                            <span id="settingsMemoryAvail" class="settingsMemoryStatusValue">7.3G</span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col s12">
                            <div class="card hoverable">
                                <div class="card-content">

                                    <div class="card-title">
                                        <div id="settingsJavaExecTitle">Java futtató</div>
                                        <strong>Szükséges:
                                            Java 8 x64.</strong><br>Az elérési útvonalnak <strong>bin
                                            <%= process.platform === 'win32' ? '\\javaw.exe' : '/java' %></strong>-val
                                        kell végződnie.
                                    </div>
                                    <div id="settingsJavaExecDetails">Kiválasztva: Java 8 Update 172 (x64)</div>
                                    <div class="settingsFileSelActions file-field input-field">
                                        <input class="settingsFileSelVal" id="settingsJavaExecVal" type="text"
                                            value="null" cValue="JavaExecutable" disabled>
                                        <input class="settingsFileSelSel" id="settingsJavaExecSel" type="file"
                                            <%=process.platform==='win32' ? 'accept=.exe' : '' %>>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12">
                            <div class="card hoverable">
                                <div class="card-content">
                                    <div class="card-title">
                                        <div id="settingsJVMOptsTitle">További JVM opciók</div>
                                        A JVM külön megadott paraméterei. Az <em>-Xms</em>-t és a
                                        <em>-Xmx</em>-et
                                        ne ide írd!
                                    </div>

                                    <input id="settingsJVMOptsVal" cValue="JVMOptions" type="text">

                                    <a href="https://docs.oracle.com/javase/8/docs/technotes/tools/<%= process.platform === 'win32' ? 'windows' : 'unix' %>/java.html">Elérhető
                                        Java indítási parancsok</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="settingsTabLauncher" class="settingsTab" style="display: none;">
                    <div class="row">
                        <div class="col s12">
                            <div class="card hoverable">
                                <div class="card-content">
                                    <div class="card-title">
                                        <span class="settingsTabHeaderText">Indító beállítások</span><br>
                                        <span class="settingsTabHeaderDesc">Az indítóhoz kapcsolódó beállítások.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12">
                            <div class="card hoverable">
                                <div class="card-content">
                                    <div class="row valign-wrapper">
                                        <div class="col s9 truncate settingsTabHeaderText card-title">
                                            Kiadás előtti (béta) verziók letöltése<br>
                                            Ezen verziók tartalmazhatnak olyan funkciókat, amik még nem voltak kellően
                                            tesztelve.
                                        </div>
                                        <div class="col s3 right">
                                            <div class="settingsFieldRight right">
                                                <label class="toggleSwitch">
                                                    <input type="checkbox" cValue="AllowPrerelease">
                                                    <span class="toggleSwitchSlider"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12">
                            <div class="card hoverable">
                                <div class="card-content">
                                    <div class="card-title">
                                        <div class="settingsFieldTitle" id="settingsDataDirTitle">
                                            Játék mappája
                                        </div>
                                        <div class="settingsFileSelDesc">
                                            Minden játék fájl/beállítás ebben a
                                            mappában lesz eltárolva.
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="settingsFileSelActions file-field input-field">
                                            <!--
                                            <div class="btn newhope-color waves-effect waves-light">
                                                <span>Kiválasztás</span>
                                                <input class="settingsFileSelSel" id="settingsDataDirSel" type="file" webkitdirectory>
                                                <input class="settingsFileSelVal file-path" type="text" value="null"
                                                    cValue="DataDirectory" disabled>
                                            </div>
                                            <div class="file-path-wrapper">
                                                <input class="settingsFileSelVal file-path" type="text" value="null"
                                                    cValue="DataDirectory" disabled>
                                            </div>
                                            -->
                                            <input class="settingsFileSelVal" type="text" value="null"
                                                cValue="DataDirectory" disabled>
                                            <input class="settingsFileSelSel" id="settingsDataDirSel" type="file"
                                                webkitdirectory>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="settingsTabAbout" class="settingsTab" style="display: none;">
                    <div class="row">
                        <div class="col s12">
                            <div class="card hoverable">
                                <div class="card-content">
                                    <div class="card-title">
                                        <span class="settingsTabHeaderText">Rólunk</span><br>
                                        <span class="settingsTabHeaderDesc">Frissítési jegyzék a jelenlegi
                                            kiadáshoz.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12">
                            <div class="card hoverable">
                                <div class="card-content">
                                    <div class="card-title">
                                        <img id="settingsAboutLogo" src="./assets/images/NewHopeIcon.png">
                                        <span id="settingsAboutTitle">NewHope indító</span>
                                    </div>
                                    <div class="row valign-wrapper">
                                        <div class="col s3 m2 l1">
                                            <div id="settingsAboutCurrentVersionCheck">&#10003;</div>
                                        </div>
                                        <div class="col s9 m10 l11">
                                            <div id="settingsAboutCurrentVersionDetails">
                                                <span id="settingsAboutCurrentVersionTitle">Stabil kiadás</span><br>
                                                <div id="settingsAboutCurrentVersionLine">
                                                    <span id="settingsAboutCurrentVersionText">Verzió </span>
                                                    <span id="settingsAboutCurrentVersionValue">1.0.0</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-action">
                                    <a href="https://github.com/newhopemc/Launcher" id="settingsAboutSourceButton"
                                        class="settingsAboutButton newhope-color-text">Forrás (GitHub)</a>
                                    <!-- The following must be included in third-party usage. -->
                                    <a href="https://github.com/WesterosCraftCode/ElectronLauncher"
                                        id="settingsAboutSourceButton"
                                        class="settingsAboutButton newhope-color-text">Original Source</a>
                                    <a href="#" id="settingsAboutDevToolsButton"
                                        class="settingsAboutButton newhope-color-text">Konzol</a>
                                </div>
                            </div>
                        </div>
                        <div class="col s12">
                            <div class="card hoverable">
                                <div class="card-content">
                                    <div class="card-title">
                                        <div class="settingsChangelogLabel">Frissítési jegyzék</div>
                                        <div class="settingsChangelogTitle">Változtatások</div>
                                    </div>
                                    <div class="settingsChangelogText">
                                        Nincs elérhető frissítési jegyzék.
                                    </div>
                                </div>
                                <div class="card-action">
                                    <a class="settingsChangelogButton settingsAboutButton newhope-color-text"
                                        href="#">Frissítési jegyzék megtekintése GitHub-on</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="settingsTabUpdate" class="settingsTab" style="display: none;">
                    <div class="row">
                        <div class="col s12">
                            <div class="card hoverable">
                                <div class="card-content">
                                    <div class="card-title">
                                        <span class="settingsTabHeaderText">Indító frissítések</span><br>
                                        <span class="settingsTabHeaderDesc">Frissítések letöltése, telepítése és
                                            tesztelése az indítóhoz.</span>
                                    </div>
                                    <div class="row valign-wrapper">
                                        <div class="col s3 m2 l1">
                                            <div id="settingsUpdateVersionCheck">&#10003;</div>
                                        </div>
                                        <div class="col s9 m10 l11">
                                            <div id="settingsUpdateVersionDetails">
                                                <span id="settingsUpdateVersionTitle">Stabil kiadás</span><br>
                                                <div id="settingsUpdateVersionLine">
                                                    <span id="settingsUpdateVersionText">Verzió </span>
                                                    <span id="settingsUpdateVersionValue">0.0.1-alpha.18</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-action">
                                    <a class="newhope-color-text" href="#" id="settingsUpdateActionButton">Frissítések
                                        keresése</a>
                                </div>

                            </div>
                        </div>
                        <div class="col s12 settingsChangelogContainer">
                            <div class="card hoverable">
                                <div class="card-content">
                                    <div id="settingsUpdateTitle" class="card-title">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="./assets/js/scripts/settings.js"></script>
    </div>
</div>