<div id="welcomeContainer" style="display: none;">
    <!--<div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>-->
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/NewHopeWideLogo.png"/>
        <span id="welcomeHeader">Üdvözöllek a NewHopeon!</span>
        <span id="welcomeDescription">A NewHope egy magyar lobby szerver, amit egy nagyobb baráti társaság üzemeltet a saját szórakoztatásukra. Reméljük tudunk okozni számodra is egy-két vidám percet!</span>
        <br>
        <span id="welcomeDescCTA">Már csak pár kattintás!</span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                Tovább
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>